<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/base.css" />
    <title>Document</title>
</head>

<body align="center">
    <h1>Danh sách phòng ban tìm thấy được: </h1>
    <table width="100%" border="1">
        <TR>
            <TH>Mã phòng ban</TH>
            <TH>Tên phòng ban</TH>
            <TH>Mô tả phòng ban</TH>
            <TH>Xem chi tiết</TH>
        </TR>
        <?php
        if (sizeof($facultyList) > 0) {
            for ($i = 0; $i < sizeof($facultyList); $i++) {
        ?>
        <TR align="center">
            <TD>
                <?php echo "<p> " . $facultyList[$i]->IDPB . "</p>"; ?>
            </TD>
            <TD>
                <?php echo "<p> " . $facultyList[$i]->Tenpb . "</p>"; ?>
            </TD>
            <TD>
                <?php echo "<p> " . $facultyList[$i]->Mota . "</p>"; ?>
            </TD>
            <TD>
                <?php echo "<p><a href='?stid=".$facultyList[$i]->IDPB."'>xx</a></p>"; ?>
            </TD>
        </TR>
        <?php
            }
        }
        ?>
    </table>
</body>

</html>