<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="../Controller/C_Student.php" method="post">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" size="20" name="txtUserName" value="101"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" size="20" name="txtPassWord" value="abc"></td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <input type="submit" value="OK">
                    <button type="submit" value="1" name="btnDangNhapVangLai">Dang nhap voi tu cach khach vang lai
                </td>
            </tr>
        </table>
    </form>

</body>

</html>