<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <form action="../View/login.html" method="post">
        <input type="submit" value="Dang xuat">
        <br>
        <div class="dropdown-menu" style="display: block !important;">
            <a class="dropdown-item" href="../Controller/C_Student.php?mod1='1'" target="t3">Xem thông tin nhân viên</a>
            <br>
            <a class="dropdown-item" href="../Controller/C_Student.php?mod2='1'" target="t3">Xem thông tin phòng ban</a>
            <br>
            <a class="dropdown-item" href="../Controller/C_Student.php?mod3='1'" target="t3">Tìm kiếm</a>
            <br>
            <a class="dropdown-item" href="../Controller/C_Student.php?mod4='1'" target="t3">Cập nhật</a>
            <br>
            <a class="dropdown-item" href="../Controller/C_Student.php?mod5='1'" target="t3">Xoá nhân viên</a>
            <br>
            <a class="dropdown-item" href="../Controller/C_Student.php?mod7='1'" target="t3">Xoá tất cả</a>
            <br>
            <a class="dropdown-item" href="../Controller/C_Student.php?mod9='1'" target="t3">Thêm nhân viên</a>
        </div>
    </form>
</body>

</html>